<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC
"-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>title</key>
    <string>Status &amp; Home Bar Adjuster</string>


    <key>items</key>
    <array>


        <!-- STATUS BAR -->

        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>

            <key>defaults</key>
            <string>com.congtu.statushomebaradjuster</string>

            <key>key</key>
            <string>StatusBarHeight</string>

            <key>default</key>
            <string>30</string>

            <key>label</key>
            <string>Status Bar Height</string>
        </dict>


        <!-- HOME BAR -->

        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>

            <key>defaults</key>
            <string>com.congtu.statushomebaradjuster</string>

            <key>key</key>
            <string>HomeBarHeight</string>

            <key>default</key>
            <string>30</string>

            <key>label</key>
            <string>Home Bar Height</string>
        </dict>


        <!-- INFORMATION -->

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>

            <key>label</key>
            <string>Giá trị: 0 - 120 px</string>
        </dict>


        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>

            <key>label</key>
            <string>30 px = mặc định</string>
        </dict>


        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>

            <key>label</key>
            <string>0 px = ẩn/gần như ẩn</string>
        </dict>


        <!-- APPLY -->

        <dict>
            <key>action</key>
            <string>applySettings</string>

            <key>cell</key>
            <string>PSButtonCell</string>

            <key>label</key>
            <string>Apply</string>
        </dict>


    </array>

</dict>
</plist>
