<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>PreferenceSpecifiers</key>
    <array>

        <!-- STATUS BAR -->

        <dict>
            <key>Type</key>
            <string>PSGroupCell</string>

            <key>Label</key>
            <string>Status Bar</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSEditTextCell</string>

            <key>Title</key>
            <string>Status Bar Y</string>

            <key>Key</key>
            <string>StatusBarOffset</string>

            <key>DefaultValue</key>
            <string>0</string>

            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>

            <key>PostNotification</key>
            <string>com.congtu.statushomebaradjuster/preferences.changed</string>
        </dict>


        <!-- HOME BAR -->

        <dict>
            <key>Type</key>
            <string>PSGroupCell</string>

            <key>Label</key>
            <string>Home Bar</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSEditTextCell</string>

            <key>Title</key>
            <string>Home Bar Y</string>

            <key>Key</key>
            <string>HomeBarOffset</string>

            <key>DefaultValue</key>
            <string>0</string>

            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>

            <key>PostNotification</key>
            <string>com.congtu.statushomebaradjuster/preferences.changed</string>
        </dict>


        <!-- INFORMATION -->

        <dict>
            <key>Type</key>
            <string>PSGroupCell</string>

            <key>FooterText</key>
            <string>Âm = lên. Dương = xuống. Phạm vi: -120 đến +120 px. Respring để áp dụng thay đổi.</string>
        </dict>

    </array>

    <key>Title</key>
    <string>Status &amp; Home Bar Adjuster</string>

</dict>
</plist>
