<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>PreferenceSpecifiers</key>
    <array>

        <dict>
            <key>Type</key>
            <string>PSGroupCell</string>

            <key>Label</key>
            <string>Status Bar</string>

            <key>FooterText</key>
            <string>Nhập chiều cao Status Bar từ 0 đến 120 px. 30 px là mặc định.</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSEditTextCell</string>

            <key>Title</key>
            <string>Status Bar Height</string>

            <key>Key</key>
            <string>StatusBarHeight</string>

            <key>Default</key>
            <string>30</string>

            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>

            <key>IsSecure</key>
            <false/>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSGroupCell</string>

            <key>Label</key>
            <string>Home Bar</string>

            <key>FooterText</key>
            <string>Home Bar giữ nguyên, chưa được thay đổi.</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSEditTextCell</string>

            <key>Title</key>
            <string>Home Bar Height</string>

            <key>Key</key>
            <string>HomeBarHeight</string>

            <key>Default</key>
            <string>30</string>

            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>

            <key>IsSecure</key>
            <false/>
        </dict>

    </array>

    <key>title</key>
    <string>StatusHomeBarAdjuster</string>

</dict>
</plist>
